<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrudVsemReportsDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrudVsemReportsDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TrudVsemReportsDownloader.Properties.Settings>
            <setting name="_link" serializeAs="String">
                <value>https://opendata.trudvsem.ru/csv/vacancy_9.csv</value>
            </setting>
            <setting name="_resultsFilename" serializeAs="String">
                <value>vacancy_9_result.xlsx</value>
            </setting>
            <setting name="_destinationFolder" serializeAs="String">
                <value>F:\загрузки\</value>
            </setting>
            <setting name="_csvDelimiter" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="_filterColumn" serializeAs="String">
                <value>state_region_code</value>
            </setting>
            <setting name="_filterValue" serializeAs="String">
                <value>3100000000000</value>
            </setting>
            <setting name="_resultsFolder" serializeAs="String">
                <value>F:\загрузки\</value>
            </setting>
            <setting name="_companyesInn" serializeAs="String">
                <value />
            </setting>
        </TrudVsemReportsDownloader.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <TrudVsemReportsDownloader.Properties.Settings>
            <setting name="_resultedColumns" serializeAs="String">
                <value>full_company_name,vacancy_name,work_places,vacancy_address,salary,salary_max,education,position_responsibilities,position_requirements,busy_type,company_inn</value>
            </setting>
            <setting name="_defaultRow" serializeAs="String">
                <value>Наименование организации,Профессия,Количество свободных раб.мест,Адрес,Заработная плата от,Заработная плата до,Образование,Должностные обязанности,Требования,Занятость,ИНН</value>
            </setting>
            <setting name="_defaultXLSDelimiter" serializeAs="String">
                <value>;</value>
            </setting>
            <setting name="_innColumnName" serializeAs="String">
                <value>company_inn</value>
            </setting>
        </TrudVsemReportsDownloader.Properties.Settings>
    </applicationSettings>
</configuration>