<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrudVsemReportsDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TrudVsemReportsDownloader.Properties.Settings>
            <setting name="_link" serializeAs="String">
                <value>https://opendata.trudvsem.ru/csv/vacancy_9.csv</value>
            </setting>
            <setting name="_resultsFilename" serializeAs="String">
                <value>vacancy_9_result.csv</value>
            </setting>
            <setting name="_destinationFolder" serializeAs="String">
                <value>F:\загрузки\</value>
            </setting>
            <setting name="_csvDelimiter" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="_filterColumn" serializeAs="String">
                <value>state_region_code</value>
            </setting>
            <setting name="_filterValue" serializeAs="String">
                <value>3100000000000</value>
            </setting>
            <setting name="_resultsFolder" serializeAs="String">
                <value>F:\загрузки\</value>
            </setting>
            <setting name="_deletedColumns" serializeAs="String">
                <value />
            </setting>
        </TrudVsemReportsDownloader.Properties.Settings>
    </userSettings>
</configuration>